$color-red: #d02c24;
$heading-1: 20pt;

body {
    font-family: 'Montserrat', sans-serif;
}
.menu {
    padding-left: 60px;
    background-color: #fefefe;
    &-logo img {
        height: 50px;
        width: 150px;
    }
    & ul {
        margin-left: 2%;
        height: 50px;
    }
    & ul li {
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #000000;
        padding-left: 15px;
    }
}
.banner {
    background-image: url(/public/images/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1100px;
    &-img { 
        height: auto;
        & img {
            width: 300px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            }
        }
    &-kv img {
        height: auto;
        width: 400px;
    }
    &-aspire {
        margin-left: 40px;
        margin-top: -40px;
    }
    &-aspire img {
        height: auto;
        width: 200px;
    }
    &-bear img {
        width: 300px;
        display: block; 
        margin-left: auto;
        margin-right: auto;
        height: auto;
        }
    &-form {
        background-color:  #161a1d;  
        height: auto;
        border-radius: 8px;
        margin-right: auto;
        margin-left: auto;
        padding: 30px 20px;
        &-in { 
            padding-top: 10px;
            &-user{
                margin-bottom: 30px;
                position: relative;
                i {
                    position: absolute;
                    left: 8px;
                    top: 12px;
                    height: 60px;
                }
            }
            &-mail{
                margin-bottom: 30px;
                position: relative;
                i {
                    position: absolute; 
                    left: 8px;
                    top: 12px;      
                    height: 60px;
                }
            }
            &-phone{
                margin-bottom: 30px;
                position: relative;
                i {
                    position: absolute; 
                    left: 8px;
                    top: 12px;      
                    height: 60px;
                }
            }
            &-score{
                margin-bottom: 30px;
                position: relative;
                i {
                    position: absolute; 
                    left: 8px;
                    top: 12px;      
                    height: 60px;
                }
            }
    }   }
}

input[type=text]{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    height: 40px;
    padding-left: 30px;
    border-radius: 4px;
    &:focus {
    background-color: lightblue;
    outline: none;
    }
}
.text {
    color: white;
    &-coca {
        font-size: 14px;
        letter-spacing: normal;
        color: #fefefe;
    }
    &-future {
        font-size: 33px;
        font-weight: 300;
        letter-spacing: normal;
        color: #fefefe;
        text-align: center;
        margin-top: 40px;
        &-team {
            font-size: 33px;
            font-weight: 300;
            letter-spacing: normal;
            color: #fefefe;
            text-align: center;
            margin-top: 100px;
        }
    }
    &-leader {
        p{
            font-size: 14px;
            letter-spacing: normal;
            color:#fefefe;
            text-align: center;
        }
    }
    &-choose {
        font-size: 33px;
        font-weight: 300;
        text-align: center;
        color: #fefefe;
        margin-top: 50px;
    }
    &-learn {
        font-size: 40px;
        font-weight: 1200;
        line-height: 2.01;
        color: #d02c24;
    }
}
.button {
    padding: 0 ;
    width: 140px;
    height: 40px;
    border-radius: 16px;
    color: white;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: $color-red; 
    border: 0.5px solid none;
    font-size: 14px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.15;
    letter-spacing: normal;
    &:hover {
        background-color: #3498db;
        color: white;
        box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    }
    &-done {
       text-align: center;
    }
    &-join {    
        margin-top: -30px;
    }

    &-Recruitment {
        & img {
            height: auto;
            width: 80px;
        }
        & p {
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            color: #161a1d;
        }
    }
}
.introduce {
    background-image: url('/public/images/Path 422@2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    padding-top: 300px;
    &-img {
        height: auto;
        & img {
            display: block;
            width: 200px;
            margin-left: auto; 
            margin-right: auto;
        }
    }
}
.sell {
    margin: 20px;
    height: 200px;
    background-color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}
.why-img {
    height: auto;
    margin-top: 100px;
    img {
        width: 200px;
        display: block; 
        margin-left: auto;
        margin-right: auto;
    }
}
.box {
    width: 300px;
    height: auto;
    background-color: #ffffff;
    padding: 10px;
    font-size: 14px;
    line-height: 1.54;
    text-align: left;
    color: #161a1d;
    margin-bottom: 50px;
    &-deve {
        width: 300px;
        height: auto;
        background-color: #ffffff;
        padding: 10px;
        font-size: 14px;
        line-height: 1.54;
        text-align: left;
        color: #161a1d;
    }
    &-align {
        margin-top: 80px;
    }
    &-img {
        height: auto;
        width: 200px;
    }
}
.how {
    background-image: url('/public/images/Rectangle 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    margin-top: -200px;
    z-index: -9999;
    position: relative;
    &-img {
        height: auto;
        margin-top: 200px;
        & img {
            width: 200px;
            display: block;
            margin-left: auto;  
            margin-right: auto;
        }
    }
}   
.file {
    margin-top: 70px;
    &-icon img {
        height: auto;;
        width: 200px;
        margin-right: auto;
        margin-left: auto;
        display: block;

    }
    &-month {
        background-image: url('/public/images/Path 1264@2x.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 10vh;
        width: 280px;
        & p {
            font-size: 20px;
            font-weight: 800;
            line-height: 1.54;
            text-align: center;
            color: #ffffff;
            padding-top: 15px;
            padding-left: 30px;
        }
    }
}
.left {
    margin-bottom: 100px;
}
.right {
    margin-bottom: 100px;
}
.left div {
    padding-top: 40px;
}
.img-valign {
    height: 30px;
    width: 30px;
}
.text1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 0.5;
    color: #ffffff;
    padding-left: 20px; 
}
.right div {
    padding-top: 40px;
}
.team {
    background-image: url('/public/images/Path 1@2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    margin-top: -95px;
    &-img {
        height: auto;
        margin-top: 20px;
        & img {
            width: 300px;
            display: block;
            margin-left: auto;  
            margin-right: auto;
        }
    }
    &-le {
        background-image: url('/public/images/Path 1264@2x.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 10vh;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        & p {
            font-size: 30px;
            font-weight: 900;
            line-height: 1.2;
            text-align: center;
            color: #ffffff;
            padding-left: 20px;
            padding-top: 15px;
        }
    }
    &-story {
        margin-top: 50px;
        width: auto;
        height: 150px;
        background-color: black;
        padding-top: 50px;
       
    }
}

.footer {
    height: 100px;
    background-color:#ffffff;
    &-text {
        font-weight: 600;
        font-size: 16px;
        color: #161a1d;
    }
    &-img {
        vertical-align: middle;
        margin-bottom: 0.75em;
        margin-left: 30px;
    
    }
}
.logojobtest img {
    width: 200px;
    margin: 0 auto;
}
.facebook {
    padding: 20px;
   margin: 0 auto;
}
.copy {
    padding: 20px;
  margin: 0 auto;
}
