@charset "UTF-8";

.left {
  background-color: #0096d7;
  height: 740px;
}

.left ul {
  list-style-type: none;
}

.left ul li {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #ffffff;
}

.txt-salary {
  margin: 0 67.1px 16.5px 8.7px;
  font-family: Roboto;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffff00;
  padding-top: 30px;
  padding-left: 30px;
}

.txt-salary-mt {
  font-family: Roboto;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: white;
  padding-left: 35px;
}

.right {
  height: 600px;
  padding-left: 50px;
}

.form-in {
  padding-top: 30px;
  height: 450px;
  box-shadow: -2px 4px 15px 6px rgba(0, 0, 0, 0.41);
}

.form-in-in {
  padding-left: 50px;
  position: relative;
}

.form-in-user i {
  position: absolute;
  left: 80px;
  top: 35px;
  height: 50px;
  width: 50px;
}

.form-in-mail i {
  position: absolute;
  left: 80px;
  top: 90px;
  height: 50px;
  width: 50px;
}

.form-in-phone i {
  position: absolute;
  left: 80px;
  top: 145px;
  height: 50px;
  width: 50px;
}

.form-in-year i {
  position: absolute;
  left: 80px;
  top: 200px;
  height: 45px;
  width: 50px;
}

.form-in h1 {
  font-family: Roboto;
  font-size: 20.2px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  margin-top: 30px;
}

.control {
  margin-top: 30px;
  margin-left: 20px;
  width: 80%;
}

input[type=text] {
  width: 80%;
  padding-left: 30px;
  border: none;
  border-bottom: 1px solid black;
}

input[type=text]:focus {
  background-color: lightblue;
  outline: none;
}

.button {
  padding-bottom: 25px;
  width: 97.4px;
  height: 31.5px;
  border-radius: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #f15a24;
  border: 2px solid #4CAF50;
}

.button-position {
  padding-left: 280px;
  padding-top: 20px;
}

.button:hover {
  background-color: blue;
  color: white;
}

.abbott {
  margin-top: 20px;
}

.abbott ul {
  list-style: none;
}

.abbott ul li {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #000000;
}

.abbott ul li:before {
  content: "\2022";
  color: #0096d7;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

body {
  font-family: roboto;
  height: 100%;
}

.logo img {
  height: 45px;
  width: 147px;
  margin-top: 50px;
}

.txt {
  color: #000000;
  font-family: Roboto;
  font-size: 23.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  padding-top: 21px;
}

.txt-income {
  color: #ffff00;
  font-size: 26.5px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.85;
  letter-spacing: normal;
  text-align: center;
}

.txt-income :hover {
  color: blue;
}

.txt-sale {
  font-family: Roboto;
  font-size: 28.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.container-fluid {
  padding: 0;
}

.header {
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/images/web-background.jpg?977015321ce8e635b9fbaaf612faeaaa);
}

@media only screen and (max-width: 600px) {
  .button-position {
    padding-left: 90px;
  }

  .txt {
    font-size: 13px;
  }

  .txt-income {
    font-size: 18px;
  }

  .txt-sale {
    font-size: 18px;
  }

  span {
    font-size: 18px;
  }

  .form-in {
    padding-right: 40px;
    margin-right: 30px;
  }

  .abbott {
    margin-right: 50px;
  }
}

a:hover {
  text-decoration: none;
}

